.row_odd {
  background-color: #eee;
}
.row_even {
  background-color: #fff;
}
.container {
  background-color: #fff;
}
.wrapper {
  background-image: url("/images/fondo_rojo.jpg");
  background-repeat: repeat;
  background-color: #fff;
}
.header_slogan {
  padding-top: 2.5rem;
}
.header_artwork {
  padding-top: 0.6rem;
}
.label_country {
  font-size: 0.9rem;
}
.flag {
  width: 20px;
  float: left;
  margin-right: 3px;
  margin-left: 3px;
  margin-top: 3px;
}
.colpt {
  background-color: #eee;
}
.title_groupa {
  background-color: #fff3cd;
}
.title_groupb {
  background-color: #d1ecf1;
}
.title_groupc {
  background-color: #f8d7da;
}
.title_groupd {
  background-color: #fff3cd;
}
.title_groupe {
  background-color: #e2e3e5;
}
.title_groupf {
  background-color: #cce5ff;
}
.title_groupg {
  background-color: #f8d7da;
}
.title_grouph {
  background-color: #fff3cd;
}
footer {
  font-size: 11px;
}
